<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tech Support Chatbot</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Optional JavaScript; choose one of the two! -->
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <!script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/
  bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"-->
<!-- jQuery library -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light bg-gradient">
    <div class="container-fluid">
      <div class="headingOne">
        <!--<a class="navbar-brand" href="#">
          <img style="max-width:100px; margin-top: -12px;" src="/media/Bot.jpg/" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>-->
        <a class="navbar-brand" href="#" style="color:black;font-style:initial;"><b>TECH SUPPORT CHATBOT</b></a>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home'%}" style="color:black;">Home</a>
          </li>
          {% if  request.session.type_id  == 'User' %}
          <li class="nav-item">
            <a class = "nav-link"href="{% url 'ChatWindow'%}" style="color:black;">Chat Window</a>
          </li>
          <li class="nav-item">
            <a class = "nav-link" href="{% url 'EditDetails'%}" style="color:black;">Edit Details</a>
          </li>
          
           {% endif %}
           </ul>
        <ul class="navbar-nav ms-auto">
          {% if  request.session.type_id == 'User' %}
          <li class="nav-item"><a class = "nav-link" style="color:black;">Hi, {{request.session.UserType}}</a></li>
          {% endif %}
          {% if  request.session.login == 'Yes' %}
          <li class="nav-item"><a class = "nav-link" href="{% url 'Logout'%}" style="color:black;">LogOut</a></li>
          {% else %}

          <ul class="navbar-nav ms-auto" >
            <li class="nav-item dropdown">
              <a style="color:black" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'Login'%}">User</a></li>
                 </ul>
              </li>
              {% endif %} 
            </ul>
          </div>
        </div>
      </nav>


  {% block content %}

    {% endblock %}


    
<footer style="padding: 10px 20px;background-color:  #ffffff;
background-image: linear-gradient(315deg,  #ffffff 100%, #000000 0%);;color:black;height:44px;position:fixed;bottom:0; width: 100%;"-->
<p style="font-size: small; text-align: right;">Company ©2022. All rights reserved.</p>
</div>
</footer>


</body>
</html>