{% extends 'base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    <div style="background: url('/media/bg8.jpg'); background-repeat:no-repeat;background-size:cover; color: white; height:600px; width: 100;">
        <br>
        <div class="container">
            <form class="form-signin" action="/Registeration/" method="POST">
                {% csrf_token %}
            <div class="row">
                <div class="col-8">
                    <br><br>
                    <div class="row">
                        <div class="col-8">
                            <u><h5 style="color:white" align="center">Register here!</u></h5>
                        </div>
                    </div> <br><br>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="fname" placeholder="Enter first name">
                                <label for="floatingInput" style="color:darkblue;">First Name:</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating">
                               <input type="text" class="form-control" id="floatingPassword" placeholder="Enter last name" name="lname">
                               <label for="floatingPassword" style="color:darkblue;">Last Name:</label> 
                            </div>
                        </div>
                    </div>
                    <br>
                     <div class="row">
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                 <input type="number" class="form-control" id="floatingInput" placeholder="Enter Contact Number" name="phone">
                                 <label for="floatingInput" style="color:darkblue">Contact Number:</label>
                             </div>
                         </div>
                     
                        <div class="col-4">
                            <div class="form-floating">
                               <input type="email" class="form-control" id="floatingPassword" placeholder="Enter last name" name="Eid">
                               <label for="floatingPassword" style="color:darkblue;">Email:</label> 
                            </div>
                        </div>
                    </div>
                    <br>
                     <div class="row">
                        <div class="col-4">
                            <div class="form-floating mb-3">
                                 <input type="text" class="form-control" id="floatingInput" placeholder="Enter Contact Number" name="uname">
                                 <label for="floatingInput" style="color:darkblue">Create Username:</label>
                             </div>
                         </div>
                     
                        <div class="col-4">
                            <div class="form-floating">
                               <input type="password" class="form-control" id="floatingPassword" placeholder="Enter last name" name="pwd">
                               <label for="floatingPassword" style="color:darkblue;">Create Password:</label> 
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-8">
                            <center><input type="submit" class="btn btn-outline-light" value="Register"></center>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
    {% endblock%}

pwd